/* *========== FONTS ========== */
@import './fonts.css';

/* Override default styles added from browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* *========== GENERAL STYLES */

/* *========== CSS style sheet VARIABLES ========== */

:root {
  /* Main site colors */
  --main-bg-img: url();
  --main-color-white: #faf4ea;
  --main-color-dark: #31261a;
  --main-color-green: #819b57;
  /* Secondary site colors */
  --second-color-white: #cfcfbc;
  --second-color-dark: #a18268;
  --second-color-green: #465929;
  /* Font family */
  --main-font-family: Poppins, sens-serif;
  /* Transition duration and function */
  --trans-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: var(--main-color-dark);
  background-color: var(--main-color-white);
  font-family: var(--main-font-family);
}

h1,
h2,
h3 {
  font-family: var(--main-font-family);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--main-color-dark);
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}
/* *========== HEADER ========== */

header {
  /* box-shadow: 0 2px 2px var(--main-color-dark); */
  background-color: var(--second-color-white);
  width: 100%;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 5rem;
}

.logo-link {
  line-height: 0;
}

.header-nav-menu {
  display: inline-block;
  font-size: 160%;
  letter-spacing: 4px;
  text-align: center;
}

.header-nav-menu > li {
  margin-bottom: 1em;
}

/* Navbar with dropdown toggle */
.header-nav {
  position: absolute;
  background-color: var(--second-color-white);
  width: 100%;
  left: 0;
  padding: 0 1rem;
  /* box-shadow: 0 2px 2px var(--main-color-dark); */
  display: none;
  top: 100%;
  text-align: center;
}

/* Nav toggle */
#nav-toggle:checked ~ .header-nav {
  display: block;
  height: 100vh;
  overflow: hidden;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* *========== MAIN ========== */

main {
  /* Make main element take up any surplus space to push footer down */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin-top: 90px;
}
/* Hero section */
.hero {
  height: 600px;
  width: 100%;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-image.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.cover-text {
  /* Try to change text colors */
  background-color: #cfcfbcaa;
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

/* Team section */

.team-section {
  text-align: center;
  margin-bottom: 1rem;
}

.team-section {
  padding: 2rem 0;
}
.team-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 40px;
}

.team-list-item {
  background-color: inherit;
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-list-item h3 {
  margin-bottom: 8px;
}

.team-list-item p {
  text-align: left;
}

.team-list-item p:not(:last-child) {
  margin-bottom: 8px;
}

.team-img-description {
  width: 264px;
  padding-top: 32px;
  padding-right: 16px;
  padding-bottom: 32px;
  padding-left: 16px;
}
/* *========== FOOTER =========== */
footer {
  background-image: url('../images/footer-bg-image.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 32px 0;
  color: var(--second-color-white);
}

/* !========== Deleted from footer */
/* .footer-logo {
  display: none;
}

.footer-logo-nav-container,
.footer-address-container {
  margin-bottom: 1rem;
  text-align: center;
} */

/* .footer-address-list {
  display: inline-block;
  width: 250px;
} */
/* .footer-logo-nav-container li:not(:last-child),
.footer-address-container li:not(:last-child) {
  margin-bottom: 1rem;
} */
/* !========== Deleted from footer */

/* Footer social media links */

.footer-social-net-menu {
  text-align: center;
  /* padding: 20px 0; */
  display: flex;
  justify-content: space-evenly;
}

.footer-social-net-menu i {
  font-size: 200%;
  color: var(--second-color-white);
}

/* *========== GALLERY =========== */

.photos img {
  line-height: 1em;
}

.photos {
  line-height: 0;
}

/* *========== CONTACT =========== */

/* *========== RESPONSIVE UI========= */

/* *========== 576px and up ===========  */
@media screen and (min-width: 576px) {
  /* Gallery */
  .photos {
    column-count: 2;
    column-gap: 0;
  }
}

/* *========== 768px and up ========== */
/* Media query: tablets and large (768px and up) */
@media screen and (min-width: 768px) {
  .header-nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  .header-nav-menu {
    font-size: 130%;
    display: flex;
  }

  .header-nav-menu > li {
    margin-bottom: 0;
  }
  .header-nav-menu > li:not(:first-child) {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  .logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  /* Hero */
  .cover-text {
    width: 305px;
    right: 50px;
  }
  /* Gallery */
  .photos {
    column-count: 3;
  }
}

/* *========== 992px and up ========== */
/* Media query: laptop and large (992px and up) */
@media screen and (min-width: 992px) {
  /* Header */
  .logo {
    transition: scale var(--trans-dur-and-func);
  }

  .logo:hover {
    scale: 1.1;
  }

  .header-nav-menu li {
    transition: color var(--trans-dur-and-func), scale var(--trans-dur-and-func);
  }

  .header-nav-menu li:hover {
    color: var(--main-color-green);
    scale: 0.8;
  }

  /* Footer */

  .footer-social-net-menu i:hover {
    color: var(--main-color-green);
    transition: color var(--trans-dur-and-func);
  }

  /* Gallery */
  .photos {
    column-count: 4;
  }
}

/* *========== SERVICE CLASSES =========*/

.container {
  max-width: 1440px;
}

.active {
  color: var(--main-color-green);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: -1px;
  clip-path: inset(50%);
  clip: rect(0 0 0 0);
}
