/* ========== Import Fonts ========== */
/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family= Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900 &family=Oswald:wght@200..700&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import './fonts.css';

/* Override default styles added from browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */

/* ========== CSS style sheet variables ========== */

:root {
  /* Main site colors */
  --main-bg-img: url();
  --main-color-white: #faf4ea;
  --main-color-dark: #31261a;
  --main-color-green: #819b57;
  /* Secondary site colors */
  --second-color-white: #cfcfbc;
  --second-color-dark: #a18268;
  --second-color-green: #465929;
  /* Font family */
  --main-font-family: Poppins, sens-serif;
  --second-font-family: Oswald, sens-serif;
  /* Transition duration and function */
  --trans-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: var(--main-color-dark);
  background-color: var(--main-color-white);
  font-family: var(--main-font-family);
}

/* ===== Header ===== */
header {
  width: 100%;
  background-color: var(--second-color-white);
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  box-shadow: 0 2px 2px var(--main-color-dark);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-family: var(--second-font-family);
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--main-color-dark);
}

#menu {
  font-size: 110%;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu > li {
  margin-bottom: 1em;
}

.active {
  color: var(--main-color-green);
}

/* Navbar with dropdown toggle */
nav {
  position: absolute;
  background-color: var(--second-color-white);
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px var(--main-color-dark);
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked ~ nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* ===== Main ===== */
main {
  /* Make main element take up any surplus space to push footer down */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  margin-top: 48px;

  /* Hero section */
  #hero {
    height: 600px;
    width: 100%;
    /* background: url('../images/hero-image.jpg') no-repeat center center/cover; */
    background-image: url(../images/hero-image.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
/* ===== Footer ===== */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: var(--main-color-dark);
}

/* Media query: tablets and large (768px and up) */
@media screen and (min-width: 768px) {
  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
    padding-right: 1rem;
  }

  #menu {
    display: flex;
  }

  #menu > li {
    padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 200%;
    line-height: 75px;
    margin: 0 0.5rem;
  }

  main {
    margin-top: 78px;
  }
}
/* Media query: laptop and large (992px and up) */
@media screen and (min-width: 992px) {
  #menu a {
    transition: color var(--trans-dur-and-func);
  }

  #menu a:hover {
    color: var(--main-color-green);
  }
}
